:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  /* border: 1px solid red; */
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.base-select-menu select {
  width: auto;
}

.currency-input {
  margin-right: 30px;
}

.currency-output {
  margin-left: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 3px;
}

.currency-label {
  width: 50px;
}

input, select {
  width: 150px;
  height: 30px;
  padding: 0 10px;
  border: 1px #cacaca solid;
  border-radius: 3px;
}